.horizontal{
  width: 100%;
  height: auto;
  flex-wrap: wrap; 
  gap: 20px;
  display: flex;
  align-items: center;
}

@media (min-height: 768px) {
  .horizontal{
    flex-direction: column; 
    align-items: center; 
  }
}


/*
   cards com texto
*/

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.info-card .texto {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}


.info-card .texto h2 {
  font-size: 24px;
  color: #f4d738;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.info-card .texto p {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
}

.info-card .imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card .imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
