/*
    butão de neobrutalism
*/

.btn{
    background-color: #fff;

    font-family: 'IBM Plex Mono';
    font-weight: 700;
    text-transform: uppercase;

    padding: 12px 18px;

    border-radius: 4px;
    border: solid 2px #121212;
    box-shadow: 4px 4px #121212;
    transition: transform 50ms,
     box-shadow 50ms;
}

button:hover{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #121212;
}

/*

  coisinho final do site

*/


.horizontal{
  width: 100%;
  height: auto;
  flex-wrap: wrap; 
  gap: 20px;
  display: flex;
  align-items: center;
}

.card {
  margin: 5% auto;
  width: 90%; 
  max-width: 500px; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: solid 4px #121212;
  box-shadow: 5px 5px #121212;
  overflow: hidden; 
}

.card > img {
  width: 100%; 
  height: auto; 
  border-bottom: solid 4px #121212; 
}

.texto {
  padding: 20px;
  color: #000;
  text-align: center;
  width: 100%; 
}


@media (max-width: 768px) {
  .card {
    width: 95%; 
    max-width: 100%; 
  }
}

@media (min-height: 768px) {
  .horizontal{
    flex-direction: column; 
    align-items: center; 
  }

  .card {
    max-width: 100%;
  }
}

