/* Estilo Neobrutalista para a página de login */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Yuji+Mai&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-box {
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 350px;
}

.login-box h1 {
    font-family:'Embed code', serif;
    font-size: 40px;
    color: #f4d738;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    text-align: left;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.login-box input {
    padding: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all 0.3s;
    color: #fff;
}

.erro {
    color: red;
    font-size: 14px;
    margin: 5px;
    margin-bottom: 10px;
}

.login-box input:hover {
    box-shadow: 0px 0px 22px #fff;
    outline: none;
}

.login-box input:focus {
    box-shadow: 0px 0px 22px #f4d738;
    border: 2px solid #f4d738;
    outline: none;
}

.login-box button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 5px;
}

.login-box button:hover {
    background-color: #f4d738;
    box-shadow: 0px 0px 22px #fff;
    border: 2px solid #f4d738;
    color: #222327;
}

.login-box button:focus {
    box-shadow: 0px 0px 22px #f4d738; 
}

.login-box .signup {
    font-size: 17px;
    margin-top: 10px;
    color: #fff ;
}

.login-box .signup a {
    font-family:'Embed code', serif;
    color: #f4d738;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-box .signup a:hover {
    color: #fff;
}
